.header {
    padding: 36px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
        display: none;
    }
    &__logo {
        color: #3A3A3A;
    }
    &__menu {
        list-style: none;
        display: flex;
        a {
            color: #555555;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            transition: .2s color;
            &:hover {
                color: #333333;
            }
        }
        li:not(:last-child) {
            margin-right: 20px;
        }
    }
}
