@import "../variables";

.page-title {
  padding: 10px $container-padding 40px;

  h1 {
    font-weight: 400;
    font-size: 26px;
    margin-top: 5px;
  }

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
    h1 {
      font-size: 18px;
    }
  }
}
