.fak-menu {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.fak-menu-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
        position: relative;
        list-style: none;
    }
    > li {
        &:not(:last-child) {
            margin-right: 11px;
        }
        > a, > button {
            font-size: 16px;
            color: #222222;
            text-decoration: none;
            border: 0;
            background: none;
            cursor: pointer;
            display: block;
            padding: 10px 7px;
            transition: .2s color;
            &:hover {
                color: #444444;
            }
        }
        > button {
            display: flex;
            align-items: center;
            font-family: inherit;
            svg {
                margin-left: 10px;
            }
        }
    }
    @media (max-width: 767px) {
        > li {
            > a, > button {
                font-size: 14px;
            }
        }

    }
}

.fak-submenu {
    position: absolute;
    top: 100%;
    min-width: 200px;
    padding-top: 15px;
    opacity: 0;
    visibility: hidden;
    transition-property: padding-top, visibility, opacity;
    transition-duration: .4s;
    z-index: 2;
    &.opened {
        padding-top: 7px;
        visibility: visible;
        opacity: 1;
        @media (max-width: 767px) {
            padding-top: 2px;
        }
    }
    > ul {
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 0 15px 0 rgba(#282828, .1);
        > li > a {
            display: block;
            text-decoration: none;
            color: #222222;
            transition: .2s background-color;
            padding: 6px 9px;
            font-size: 14px;
            &:hover {
                background-color: #F2f2f2;
            }
        }
    }
}

.fak-info {
    display: flex;
    padding-top: 25px;
    padding-bottom: 10px;
    &__logo {
        min-width: 200px;
        margin-right: 10px;
        .fak-logo {
            margin-bottom: 15px;
        }
    }
    &__text {
        font-size: 16px;
        p:not(:last-child) {
            margin-bottom: 1.1em;
        }
        a {
            text-decoration: none;
            transition: .2s color;
            color: #25539b;
            &:hover {
                color: #2e6fd2;
            }
        }
        ul {
            padding-left: 20px;
            &:not(:last-child) {
                margin-bottom: 1.1em;
            }
        }
        h4 {
            margin-bottom: 1.1em;
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
        padding-top: 15px;
        &__logo {
            margin-right: 0;
            img {
                margin: 0 auto;
            }
        }
    }
}

.fak-dean {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fak-news {
    padding-top: 40px;
    padding-bottom: 20px;
}


.fak-partners {
  margin-top: 40px;
  overflow: hidden;
}

.fak-partners-slider {
  &.swiper {
    overflow: visible;
  }
}
.fak-partner {
  &.swiper-slide {
    width: auto;
  }
  img {
    height: 70px;
  }
}

.fak-graduates {
  margin-top: 40px;
  overflow: hidden;
}
.fak-graduates-slider {
  &.swiper {
    overflow: visible;
  }
}

.fak-graduate {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
  }
  &__position {
    margin-top: 7px;
    color: #999999;
    font-size: 14px;
    min-height: 2em;
  }
  &__name {
    margin-top: 7px;
    font-weight: 500;
  }
}
