.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 25px;
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }
}

.news-card {
  display: block;
  text-decoration: none;

  &__image {
    position: relative;
    height: 275px;
    @media (max-width: 767px) {
      height: 250px;
    }
    @media (min-width: 1400px) {
      height: 350px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  &__title {
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000000;
  }

  &__date {
    background-color: rgba(#FFFFFF, .8);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: 5px 8px;
    display: flex;
    column-gap: 7px;
    align-items: center;
    position: absolute;
    bottom: 7px;
    left: 7px;
    color: #000000;
    font-size: 12px;
  }

  &__description {
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.news-pagination {
  margin-top: 40px;
}


.news-archives {
  margin-bottom: 30px;

  &.active &__list {
    display: flex;
  }

  &__head {
    color: #555555;
    transition: .3s color;

    span {
      border-bottom: 1px dashed currentColor;
      cursor: pointer;
    }

    &:hover {
      color: #222222;
    }
  }

  &__list {
    display: none;
    list-style: none;
    font-size: 14px;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;

    a {
      span {
        color: #888888;
        margin-left: 5px;
        transition: inherit;
      }

      &:hover span {
        color: inherit;
      }
    }
  }
}
