.socials {
    display: flex;
    a, > div {
        display: block;
        color: #fff;
        padding: 4px;
        &:hover svg {
            opacity: 1;
        }
        svg {
            width: 36px;
            height: 36px;
            opacity: .25;
            transition: .3s opacity;
        }
        &:not(:last-child) {
            margin-right: 4px;
        }
    }
    > div {
        position: relative;
        &:hover .socials-dropdown {
            padding-bottom: 5px;
            opacity: 1;
            visibility: visible;
        }
    }
    &-dropdown {
        position: absolute;
        bottom: 100%;
        width: 300px;
        left: 50%;
        padding-bottom: 0;
        transform: translateX(-50%);
        transition-duration: .3s;
        visibility: hidden;
        opacity: 0;
        transition-property: opacity, padding-bottom, visibility;
        ul {
            border-radius: 3px;
            list-style: none;
            background-color: #4a5b6b;
            box-shadow: 0 2px 4px 0 rgba(#000000, .4);
        }
        li:last-child a {
            border-radius: 0 0 3px 3px;
        }
        li:first-child a {
            border-radius: 3px 3px 0 0;
        }
        a {
            display: block;
            padding: 7px 12px;
            font-size: 14px;
            text-decoration: none;
            transition: .2s background-color;
            &:hover {
                background-color: rgba(#ffffff, .15);
            }
        }
    }
}
